-extends "_base.haml"
-block content
    .columns_8.centered
        .uppercase style="font-size: 2.0em;"
            Top Group Chats
        .uppercase style="font-size: 1.2em;"
            By your messages sent
        %table
            %thead
                %tr
                    %th.uppercase
                    %th.uppercase
                        Your<br/>messages
                    %th.uppercase
                        Total<br/>messages
                    %th.uppercase
                        \%
            %tbody
                -for row in rows:
                    %tr
                        %th.heavy
                            {{ row.0 }}
                        %th
                            {{ row.1 }}
                        %th
                            {{ row.2 }}
                        %th
                            {{ row.3 }}%
