-extends "_base.haml"
-block content
    #chart.columns_12.centered style="height: 640px;"

    %script type="text/javascript" src="x.jquery-1.11.2.min.js"
    %script type="text/javascript" src="x.highcharts.js"
    %script type="text/javascript" src="x.highcharts.darktheme.js"
    %script type="text/javascript" src="x.highcharts.heatmap.js"
    %script type="text/javascript" src="x.highcharts.exporting.js"
    %script type="text/javascript" src="x.highcharts.offline-exporting.js"
    %script type="text/javascript"
        // <![CDATA[
        $(function () {
            $('#chart').highcharts({{ chart_json }});
        });
        // ]]>