-extends "_base.haml"
-block content
    .columns_8.centered
        .uppercase style="font-size: 2.0em;"
            {{ title }}
        .uppercase style="font-size: 1.2em; margin-top: 8px;"
            {{ subtitle }}
        %table style="margin-top: 8px;"
            %thead
                %tr
                    -for col in header_row:
                        %th.uppercase
                            {{ col }}
            %tbody
                -for row in rows:
                    %tr
                        -for col in row:
                            -if loop.index0 == 0:
                                %td.uppercase.cozy style="text-align: right;"
                                    {{ col }}
                            -elif loop.index0 == 1:
                                %td.uppercase.cozy.heavy style="text-align: center; font-size: 1.2em; color: #4daf4a;"
                                    {{ col }}
                            -else:
                                %td.uppercase.cozy style="text-align: left;"
                                    {{ col }}
